{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Gifts{% endblock %}

{% block content %}

    <div class="gifts-header-wrapper">
        <!-- Opaque overlay over the image to add some contrast for the text -->
        <div class="opaque-overlay">&nbsp;</div>
        <!-- Page Heading and Supporting Text -->
        <div class="tag">
            <h1 class="page-title center-align">Gifts</h1>
            <h5 class="title-helper center-align italic">Contribute to our Honeymoon fund</h5>
        </div>
        <img class="responsive-image gifts-header-img" src="{% static 'img/wedding-gifts.jpg' %}" alt="Wedding Gifts">
    </div>

    <div class="row center-align text">
        <!-- Gifts Section -->
        <div class="col s12 gifts-wrapper">
            <h3 class="dancing-script">If You Insist</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa error quis sit, ipsum explicabo doloremque sint neque sapiente architecto dignissimos. Pariatur ex aliquam eligendi, possimus neque molestiae laboriosam libero porro praesentium cumque dolor optio est quam magni error omnis nisi deleniti nam similique animi assumenda quisquam! Laudantium aut beatae animi?</p>
        </div>
        <div class="col s12 instructions-wrapper">
            <h3 class="instructions-heading dancing-script">How?</h3>
            <p>Here's how you can get the money to us...</p>
            <p>
                <span class="number">- 1 -</span>
                <br/>
                <span class="italic">Hand a cheque or cash to us at the wedding!</span>
            </p>
            <p>
                <span class="number">- 2 -</span>
                <br/>
                <span class="italic">
                    Contribute to our Paypal fund:
                    <br/>
                    sunnyhebbar@hotmail.co.uk
                </span>
            </p>
        </div>
    </div>

{% endblock %}