{% extends 'base.html' %}
{% load static %}

{% block title %}Gifts{% endblock %}

{% block content %}

    <div class="gifts-header-wrapper">
        <!-- Opaque overlay over the image to add some contrast for the text -->
        <div class="opaque-overlay">&nbsp;</div>
        <!-- Page Heading and Supporting Text -->
        <div class="tag">
            <h1 class="page-title center-align">Gifts</h1>
            <h5 class="title-helper center-align italic">Contribute to our Honeymoon fund</h5>
        </div>
        <img class="responsive-image gifts-header-img" src="{% static 'img/wedding-gifts.jpg' %}" alt="Wedding Gifts">
    </div>

    <div class="row center-align text">
        <!-- Gifts Section -->
        <div class="col s12 gifts-wrapper">
            <h3 class="dancing-script">If You Insist</h3>
            <p>
                We know that asking you to come all that way is a massive ask,
                <br/>
                And plane tickets and a place to stay is an expensive task,
                <br/>
                So your presence is more than enough and will give us a huge uplift,
                <br/>
                And we really don’t expect you to get us an additional gift,
                <br/>
                But if you won’t take no for an answer then it’s not a problem,
                <br/>
                A contribution to our Honeymoon fund would be really awesome!
            </p>
        </div>
        <div class="col s12 instructions-wrapper">
            <h3 class="instructions-heading dancing-script">How?</h3>
            <p>Here's how you can get the money to us...</p>
            <p>
                <span class="number">- 1 -</span>
                <br/>
                <span class="italic">Hand a cheque or cash to us at the wedding!</span>
            </p>
            <p>
                <span class="number">- 2 -</span>
                <br/>
                <span class="italic">
                    Contribute to our Paypal fund:
                    <br/>
                    sunnyhebbar@hotmail.co.uk
                </span>
            </p>
        </div>
    </div>

{% endblock %}
