{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Wedding{% endblock %}

{% block page_heading %}Wedding{% endblock %}
{% block heading_helper %}
    30 May - 4 June, 2021
    <br/>
    Orlando, Florida
{% endblock %}

{% block button %}

    <a class="btn waves-effect waves-light sm-md-btn" href="{% url 'rsvp' %}" aria-label="RSVP button">
        RSVP
        <i class="fas fa-comment-dots icon-right" aria-hidden="true"></i>
    </a>

{% endblock %}

{% block content %}

    <div class="row center-align">
        <div class="col s12">
            <h3>Our Story</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa error quis sit, ipsum explicabo doloremque sint neque sapiente architecto dignissimos. Pariatur ex aliquam eligendi, possimus neque molestiae laboriosam libero porro praesentium cumque dolor optio est quam magni error omnis nisi deleniti nam similique animi assumenda quisquam! Laudantium aut beatae animi?</p>
        </div>
        <div class="col s12 carousel-wrapper">
            <div class="carousel">
                <a class="carousel-item" href="#one!"><img src="{% static 'img/sk1.jpg' %}"></a>
                <a class="carousel-item" href="#two!"><img src="{% static 'img/sk2.jpg' %}"></a>
                <a class="carousel-item" href="#three!"><img src="{% static 'img/sk3.jpg' %}"></a>
                <a class="carousel-item" href="#four!"><img src="{% static 'img/sk4.jpg' %}"></a>
                <a class="carousel-item" href="#five!"><img src="{% static 'img/sk5.jpg' %}"></a>
                <a class="carousel-item" href="#six!"><img src="{% static 'img/sk6.jpg' %}"></a>
                <a class="carousel-item" href="#seven!"><img src="{% static 'img/sk7.jpg' %}"></a>
                <a class="carousel-item" href="#eight!"><img src="{% static 'img/sk9.jpg' %}"></a>
                <a class="carousel-item" href="#nine!"><img src="{% static 'img/sk10.jpg' %}"></a>
                <a class="carousel-item" href="#ten!"><img src="{% static 'img/sk11.jpg' %}"></a>
                <a class="carousel-item" href="#eleven!"><img src="{% static 'img/sk12.jpg' %}"></a>
                <a class="carousel-item" href="#twelve!"><img src="{% static 'img/sk14.jpg' %}"></a>
                <a class="carousel-item" href="#thirteen!"><img src="{% static 'img/sk16.jpg' %}"></a>
                <a class="carousel-item" href="#fourteen!"><img src="{% static 'img/sk17.jpg' %}"></a>
            </div>
        </div>
    </div>

{% endblock %}