{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Wedding{% endblock %}

{% block content %}

    <div class="main-wrapper">
        <!-- Opaque overlay over the image to add some contrast for the text -->
        <div class="opaque-overlay">&nbsp;</div>
        <!-- Page Heading and Supporting Text -->
        <div class="tag">
            <h1 class="page-title center-align">Wedding</h1>
            <h5 class="title-helper center-align italic">
                30 May - 4 June, 2021
                <br/>
                Orlando, Florida
            </h5>
            <a class="btn waves-effect waves-light standard-btn index-rsvp-btn" href="{% url 'rsvp' %}" aria-label="RSVP button">
                RSVP
                <i class="fas fa-comment-dots icon-right" aria-hidden="true"></i>
            </a>
        </div>
        <img class="responsive-image main-img" src="{% static 'img/orange-tree.jpg' %}" alt="Wedding Rings">
    </div>

    <div class="row center-align">
        <!-- Our Story Section -->
        <div class="col s12 story-wrapper">
            <h3 class="text dancing-script">Our Story</h3>
            <p class="text">
                2011 is when we first met,
                <br/>
                9 years later, we’re engaged with our own house and a pet (fur baby),
                <br/>
                The first time we met, in work, Kim asked the table if they'd like a drink,
                <br/>
                My reply was “Water, please”, and “You cheeky get” is what she did think,
                <br/>
                But that didn’t mean that she disliked me then and there,
                <br/>
                As I saw a glint in her eye, even though she says it was a glare!
                <br/>
                From then on, we bonded over our love for Orlando,
                <br/>
                And over the next few years, our relationship did grow.
                <br/>
                We became best friends and soon realised that we were soulmates,
                <br/>
                And that our paths crossed for a reason, we knew it was fate.
                <br/>
                Now we’re planning our wedding in a place that’s close to our hearts,
                <br/>
                And we would love it if you could join us there and play your part,
                <br/>
                In making our day an amazing and memorable one,
                <br/>
                But we know it’s a huge ask, so please don’t worry if you can’t come,
                <br/>
                We’ll understand if you can’t be there, so it’s really no fuss,
                <br/>
                But you’ll be with us in spirit, and you can have a drink back home for us!
            </p>
        </div>
        <!-- Carousel Section -->
        <div class="col s12 carousel-wrapper">
            <div class="carousel">
                <a class="carousel-item" href="#one!"><img src="{% static 'img/sk1.jpg' %}"></a>
                <a class="carousel-item" href="#two!"><img src="{% static 'img/sk2.jpg' %}"></a>
                <a class="carousel-item" href="#three!"><img src="{% static 'img/sk3.jpg' %}"></a>
                <a class="carousel-item" href="#four!"><img src="{% static 'img/sk4.jpg' %}"></a>
                <a class="carousel-item" href="#five!"><img src="{% static 'img/sk5.jpg' %}"></a>
                <a class="carousel-item" href="#six!"><img src="{% static 'img/sk6.jpg' %}"></a>
                <a class="carousel-item" href="#seven!"><img src="{% static 'img/sk7.jpg' %}"></a>
                <a class="carousel-item" href="#eight!"><img src="{% static 'img/sk9.jpg' %}"></a>
                <a class="carousel-item" href="#nine!"><img src="{% static 'img/sk10.jpg' %}"></a>
                <a class="carousel-item" href="#ten!"><img src="{% static 'img/sk11.jpg' %}"></a>
                <a class="carousel-item" href="#eleven!"><img src="{% static 'img/sk12.jpg' %}"></a>
                <a class="carousel-item" href="#twelve!"><img src="{% static 'img/sk14.jpg' %}"></a>
                <a class="carousel-item" href="#thirteen!"><img src="{% static 'img/sk16.jpg' %}"></a>
                <a class="carousel-item" href="#fourteen!"><img src="{% static 'img/sk17.jpg' %}"></a>
            </div>
        </div>
    </div>

    <div class="wedding-day-wrapper">
        <!-- Opaque overlay over the image to add some contrast for the text -->
        <div class="opaque-overlay">&nbsp;</div>
        <!-- Heading and Supporting Text -->
        <div class="tag">
            <h1 class="page-title">Wedding Day</h1>
            <h5 class="title-helper italic">1 June, 2021</h5>
        </div>
        <img class="responsive-image wedding-img" src="{% static 'img/wedding-day.jpg' %}" alt="Wedding Day Image">
    </div>

    <div class="row center-align text">
        <!-- Wedding Day Section -->
        <div class="col s12 wedding-poem-wrapper">
            <p>
                So this is the date for our very special day,
                <br/>
                And we’ll be celebrating it in the most special way,
                <br/>
                In the sunshine state with friends and family,
                <br/>
                There really is no other place where we would want our marriage to be!
                <br/>
                It will have been worth the wait and travelling so far,
                <br/>
                When we finally become Mr and Mrs Hebbar!
                <br/>
                Once the ceremony concludes, it’s on to the party,
                <br/>
                It’ll be filled with drinks, dancing and laughter, that’s a guarantee!
            </p>
        </div>
    </div>

    <div class="universal-day-wrapper">
        <!-- Opaque overlay over the image to add some contrast for the text -->
        <div class="opaque-overlay">&nbsp;</div>
        <!-- Heading and Supporting Text -->
        <div class="tag">
            <h1 class="page-title">Universal Day</h1>
            <h5 class="title-helper italic">3 June, 2021</h5>
        </div>
        <img class="responsive-image universal-img" src="{% static 'img/universal-studios.jpg' %}" alt="Universal Day Image">
    </div>

    <div class="row center-align text">
        <!-- Universal Day Section -->
        <div class="col s12 universal-poem-wrapper">
            <p>
                What more fitting way for us all to part,
                <br/>
                Than to spend the final day in our favourite park,
                <br/>
                For those who joined us for our wedding day,
                <br/>
                We’d be delighted if you could help us end the trip in the best possible way,
                <br/>
                If you’ve got other plans, then please don’t worry,
                <br/>
                But if you’ll be there then you’ll have to get your tickets in a hurry,
                <br/>
                If you’re not sure where to buy them from and need to know,
                <br/>
                You’ll be taken to some great deals if you click the link below!
            </p>
            <p class="link bold italic uppercase">
                <a href="https://www.attraction-tickets-direct.co.uk/" class="nav-link" aria-label="Attraction Tickets Direct Link" target="_blank">
                    Attraction Tickets Direct
                </a>
            </p>
        </div>
    </div>

{% endblock %}