{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Location{% endblock %}

{% block content %}

    <div class="location-wrapper">
        <!-- Opaque overlay over the image to add some contrast for the text -->
        <div class="opaque-overlay">&nbsp;</div>
        <!-- Page Heading and Supporting Text -->
        <div class="tag">
            <h1 class="page-title center-align">Reunion Resort</h1>
            <h5 class="title-helper center-align italic">Orlando, Florida</h5>
        </div>
        <img class="responsive-image location-img" src="{% static 'img/florida-sign.jpg' %}" alt="Wedding Location">
    </div>

    <div class="row center-align">
        <!-- Villa Section -->
        <div class="col s12 venue-wrapper text">
            <h3 class="dancing-script">The Venue</h3>
            <p>
                Our Venue is a magical villa called Reunion Resort 861,
                <br/>
                That will be the location for 5 days of wonder and fun,
                <br/>
                If you want to see it in advance and take a quick peek,
                <br/>
                Then click the picture below to see some pictures of the castle! Eeek!
            </p>
        </div>
        <div class="col s12 villa-wrapper">
            <a href="https://www.thetopvillas.com/en_gb/destinations/florida/orlando/reunion-resort/reunion-resort-861" target="_blank">
                <img class="responsive-image villa-img" src="{% static 'img/villa.jpg' %}" alt="Villa Image">
            </a>
        </div>
    </div>

    <div class="orlando-wrapper">
        <!-- Opaque overlay over the image to add some contrast for the text -->
        <div class="opaque-overlay">&nbsp;</div>
        <!-- Heading and Supporting Text -->
        <div class="tag">
            <h1 class="page-title">Where To Stay</h1>
            <h5 class="title-helper italic">Places in Orlando</h5>
        </div>
        <img class="responsive-image orlando-img" src="{% static 'img/orlando.jpg' %}" alt="Orlando Image">
    </div>

    <div class="row center-align text">
        <!-- Where to Stay Section -->
        <div class="col s12 orlando-poem-wrapper">
            <p>
                Although we’d love for everyone to stay with us,
                <br/>
                There’s unfortunately not enough room in the villa for all of us,
                <br/>
                So if you’re not staying there, but didn’t want to be too far away,
                <br/>
                Then here are some links of where you can look for places to stay.
            </p>
            <p class="link bold italic uppercase">
                <a href="https://www.thetopvillas.com/" class="nav-link" aria-label="Top Villas Link" target="_blank">
                    Top Villas
                </a>
                <br/>
                <a href="https://www.homeaway.co.uk/" class="nav-link" aria-label="Home Away Link" target="_blank">
                    Home Away
                </a>
            </p>
        </div>
    </div>

{% endblock %}