{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Location{% endblock %}

{% block page_heading %}Reunion Resort{% endblock %}
{% block heading_helper %}Orlando, Florida{% endblock %}

{% block content %}

    <div class="row center-align">
        <!-- Villa Section -->
        <div class="col s12 venue-wrapper">
            <h3>The Venue</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa error quis sit, ipsum explicabo doloremque sint neque sapiente architecto dignissimos. Pariatur ex aliquam eligendi, possimus neque molestiae laboriosam libero porro praesentium cumque dolor optio est quam magni error omnis nisi deleniti nam similique animi assumenda quisquam! Laudantium aut beatae animi?</p>
        </div>
        <div class="col s12 villa-wrapper">
            <a href="https://www.thetopvillas.com/en_gb/destinations/florida/orlando/reunion-resort/reunion-resort-861" target="_blank">
                <img class="responsive-image villa-img" src="{% static 'img/villa.jpg' %}" alt="Villa Image">
            </a>
        </div>
    </div>

    <div class="orlando-wrapper">
        <!-- Opaque overlay over the image to add some contrast for the text -->
        <div class="opaque-overlay">&nbsp;</div>
        <!-- Heading and Supporting Text -->
        <div class="tag">
            <h1 class="page-title">Where To Stay</h1>
            <h5 class="title-helper italic">Places in Orlando</h5>
        </div>
        <img class="responsive-image orlando-img" src="{% static 'img/orlando.jpg' %}" alt="Orlando Image">
    </div>

    <div class="row center-align">
        <!-- Wedding Day Section -->
        <div class="col s12 orlando-poem-wrapper">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa error quis sit, ipsum explicabo doloremque sint neque sapiente architecto dignissimos. Pariatur ex aliquam eligendi, possimus neque molestiae laboriosam libero porro praesentium cumque dolor optio est quam magni error omnis nisi deleniti nam similique animi assumenda quisquam! Laudantium aut beatae animi?</p>
        </div>
    </div>

{% endblock %}