{% extends 'base.html' %}
{% load materializecss %}
{% load staticfiles %}

{% block title %}RSVP{% endblock %}

{% block content %}

    <div class="rsvp-header-wrapper">
        <!-- Opaque overlay over the image to add some contrast for the text -->
        <div class="opaque-overlay">&nbsp;</div>
        <!-- Page Heading and Supporting Text -->
        <div class="tag">
            <h1 class="page-title center-align">RSVP</h1>
            <h5 class="title-helper center-align italic">Please respond by 31 December, 2020</h5>
        </div>
        <img class="responsive-image rsvp-header-img" src="{% static 'img/wedding-rsvp.jpg' %}" alt="Wedding RSVP">
    </div>

    <div class="row center-align text">
        <!-- RSVP Poem Section -->
        <div class="col s12 rsvp-poem-wrapper">
            <h3 class="dancing-script">See You There?</h3>
            <p>
                As we said on page one,
                <br/>
                We’d be over the moon if you all could come,
                <br/>
                But if you can’t then please don’t despair,
                <br/>
                You’ll be missed, but we understand why you can't be there,
                <br/>
                Just fill in the form to let us know,
                <br/>
                And hit <span class="italic">Submit</span> and away you go!
            </p>
        </div>
    </div>

    <div class="row rsvp-form-wrapper">
        <!-- RSVP Details Form -->
        <div id="rsvp_detail" class="col s12">
            <form id="rsvp_detail_form" class="col s12" method="POST">
                <div class="rsvp-wrapper center-align">
                    <div class="row">
                        <div class="col s12">
                            {% csrf_token %}
                            {{ detail_form.guest_name | materializecss:'icon=fas fa-users' }}
                            {{ detail_form.attending | materializecss:'icon=fas fa-check-circle' }}
                            {{ detail_form.not_attending | materializecss:'icon=fas fa-times-circle' }}
                            {{ detail_form.favourite_song | materializecss:'icon=fas fa-music' }}
                            {{ detail_form.favourite_drink | materializecss:'icon=fas fa-glass-martini-alt' }}
                            {{ detail_form.dietary_requirements | materializecss:'icon=fas fa-cheese' }}
                            {{ detail_form.additional_info | materializecss:'icon=fas fa-comment' }}
                        </div>
                        <!--Add and Cancel buttons-->
                        <div class="col s12 btn-wrapper">
                            <button class="btn waves-effect waves-light add-btn standard-btn" type="submit" aria-label="Submit button">
                                Submit
                                <i class="fas fa-check-circle icon-right" aria-hidden="true"></i>
                            </button>
                            <a class="btn waves-effect waves-light standard-btn" href="{% url 'rsvp' %}" aria-label="Reset button"">
                                Reset
                                <i class="fas fa-times-circle icon-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}