{% extends 'base.html' %}
{% load materializecss %}
{% load staticfiles %}

{% block title %}RSVP{% endblock %}

{% block page_heading %}RSVP{% endblock %}
{% block heading_helper %}Please respond by 1 June, 2020{% endblock %}

{% block content %}

    <div class="row center-align">
        <!-- RSVP Poem Section -->
        <div class="col s12 rsvp-poem-wrapper">
            <h3>See You There?</h3>
            <p>
                As we said on page one,
                <br/>
                We’d be over the moon if you all could come,
                <br/>
                But if you can’t then please don’t despair,
                <br/>
                You’ll be missed, but we understand why you can't be there,
                <br/>
                Just fill in the form to let us know,
                <br/>
                And hit submit and away you go!
            </p>
        </div>
    </div>


<div class="row rsvp-form-wrapper">
        <!-- RSVP Details Form -->
        <div id="rsvp_detail" class="col s12">
            <form id="rsvp_detail_form" class="col s12" method="POST">
                <div class="rsvp-wrapper center-align">
                    <div class="row">
                        <div class="col s12">
                            {% csrf_token %}
                            {{ detail_form.guest_name | materializecss:'icon=fas fa-users' }}
                            {{ detail_form.attending | materializecss:'icon=fas fa-check-circle' }}
                            {{ detail_form.not_attending | materializecss:'icon=fas fa-times-circle' }}
                            {{ detail_form.favourite_song | materializecss:'icon=fas fa-music' }}
                            {{ detail_form.dietary_requirements | materializecss:'icon=fas fa-cheese' }}
                            {{ detail_form.additional_info | materializecss:'icon=fas fa-comment' }}
                        </div>
                        <!--Add and Cancel buttons-->
                        <div class="col s12">
                            <button class="btn waves-effect waves-light add-btn sm-md-btn" type="submit" aria-label="Submit button">
                                <span class="hide-on-small-and-down">Submit</span>
                                <i class="fas fa-plus-circle icon-right" aria-hidden="true"></i>
                            </button>
                            <a class="btn waves-effect waves-light sm-md-btn" href="{% url 'rsvp' %}" aria-label="Reset button"">
                                <span class="hide-on-small-and-down">Reset</span>
                                <i class="fas fa-times-circle icon-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}